{{ wp.get_header }}
<div id="main-wrapper">

	<header id="page-header">
		<h1>{% if title %}{{ title }}{% else %}{{ app.get('name') }}{% endif %}</h1>
	</header> <!-- END #page-header -->

	<div id="content">
		<p id="intro">This is the default page for the MVC Starter Plugin. Feel free to start hacking away!</p>
		<div class="yield">{{ yield }}</div>
	</div> <!-- END #content -->

	<footer id="page-footer">
		{% if flash %}
		<div class="errors">
			<h3>Errors:</h3>
			{% for error in flash.error %}
			<p>{{ error }}</p>
			{% endfor %}
		</div>
		{% endif %}
		<p>In case you were wondering, today is {{ "now"|date("M jS, Y") }}</p>
	</footer>

</div> <!-- END #main-wrapper -->
{{ wp.get_footer }}